.layout {
    padding: .25rem .25rem;
  }
  
  @media (min-width: 768px) {
    .layout {
      padding: 1rem 1rem;
    }
  }
  
  @media (min-width: 1200px) {
    .layout {
      padding: 1rem 1em;
    }
  }